<div class="row justify-content-between">
  <div class="col-md-6">
    <div class="input-group">
      <mat-form-field class="example-full-width">
        <input
          matInput
          [(ngModel)]="searchTxt"
          name="searchTxt"
          placeholder="Search..."
          type="text"
          class="search-input"
          (ngModelChange)="onSearch()"
          (click)="onSearch()"
        />
      </mat-form-field>
      <!-- <input type="text" value="" class="in form-control" placeholder="Search..."> -->
      <button
        mat-raised-button
        type="submit"
        class="btn btn-white btn-round btn-just-icon"
      >
        <i class="material-icons">search</i>
        <div class="ripple-container"></div>
      </button>
    </div>
  </div>
  <div class="col-md-4">
    <a [routerLink]="['/formateur/add']" class="main-btn main-btn scrollto"
      >Add new admin</a
    >
  </div>
</div>
<div class="row">
  <div *ngFor="let formateur of pageSlice" class="col-lg-4 h-100">
    <div class="user">
      <div class="pic">
        <img
          [attr.src]="
            formateur.sexe == 'm'
              ? 'http://localhost:8080/public/images/male.jpg'
              : 'http://localhost:8080/public/images/female.jpg'
          "
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="user-info">
        <h4>{{ formateur.nom }} {{ formateur.prenom }}</h4>
        <span>{{ formateur.email }}</span>
        <div class="social">
          <a href=""
            ><i>
              <mat-icon>remove_red_eye</mat-icon>
            </i></a
          >
          <a href=""
            ><i>
              <mat-icon>edit</mat-icon>
            </i></a
          >
          <a href=""
            ><i>
              <mat-icon>delete_outline</mat-icon>
            </i></a
          >
          
        <a href=""
        [class]="{'bg-success': formateur.access , 'bg-red': !formateur.access }"><i>
          <mat-icon *ngIf="!formateur.access">block</mat-icon>
          <mat-icon *ngIf="formateur.access">verified_user</mat-icon>
        </i></a>

        </div>
      </div>
    </div>
  </div>

  <div *ngIf="pageSlice.length === 0" class="row  w-100 justify-content-center m-5">
  No data found
  </div>
  <!-- change the pagination later -->
  <div class="row w-100 justify-content-center">
    
    <mat-paginator
      [length]="this.allFormateurs.length"
      [pageSize]="6"
      [pageSizeOptions]="[6, 9, 18]"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
