<div>
    <nav class="nav nav-tabs main-bg d-flex justify-content-between">
        <div>
            <a class="nav-link" href="#"><span class="link">Home</span></a>

        </div>
        <div class="d-flex">
            <a class="nav-link" [routerLink]="['/signin']"><span class="link">
                <i class="material-icons">person</i>
                Sign in</span></a>
            <a class="nav-link" [routerLink]="['/register']"><span class="link">
            <i class="material-icons">login</i> Register</span></a>
            <a class="nav-link" [routerLink]="['/dashboard']"><span class="link">
                <i class="material-icons">dashboard</i> Dashboard</span></a>
        </div>
    </nav>
    <div>

    </div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>