<section id="doctors" class="doctors">
    <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-4">
                    
                        <div class="d-flex">
                            <div class="mr-4">
                                <mat-form-field class="example-full-width">
                                    <input
                                    matInput
                                    [(ngModel)]="searchTxt"
                                    name="searchTxt"
                                    placeholder="Search..."
                                    type="text"
                                    class="search-input"
                                    (ngModelChange)="onSearch()"
                                    (click)="onSearch()"
                                    />
                                    <button mat-icon-button matSuffix>
                                    <i class="material-icons">search</i>
                                    </button>
                                </mat-form-field>
                            </div>
                        <div>
                
                        <mat-form-field >
                            <mat-label>Filter</mat-label>
                            <mat-select name="filterValue" [(ngModel)]="filterValue" (ngModelChange)="filter()">
                                <mat-option value="newold">
                                New To Old
                                </mat-option>
                                <mat-option value="oldnew">
                                Old To New
                                </mat-option>
                                <!-- <mat-option value="approuved">
                                Approved
                                </mat-option>
                                <mat-option value="notapprouved">
                                Not approuved
                                </mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a [routerLink]="['/evenement/add']" class="main-btn main-btn scrollto" *ngIf="role == 'admin'">Add new Event</a>
            </div>
                </div>
          <div class="row">
            <div *ngFor="let event of pageSlice" class="col-lg-6 mt-4 mt-lg-0">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img *ngIf="event.image==null" src="http://localhost:8080/public/images/event.jpg" class="img-fluid"
                  alt=""/>
                  <img *ngIf="event.image!=null"
                      src="{{path+event.image}}"
                      class="img-fluid"
                      alt=""
                      />
                </div>
                <div class="member-info">
                  <h4>{{event.libele}}</h4>
                  <!-- <p>{{Event.etudiant.nom}} {{Event.etudiant.prenom}}</p> -->
                  <p>{{event.description}}</p>
                  <div class="social">
                    <!-- <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i></a> -->
                    <a href="javascript:void(0)" (click) = "showEventFnction(event)" data-toggle="modal" data-target=".detail_Event_modal">
                        <i><mat-icon>remove_red_eye</mat-icon></i>
                    </a>
                    <a href="javascript:void(0)" (click)="delete(event)" *ngIf="role == 'admin'"><i><mat-icon>delete_outline</mat-icon></i></a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div
      *ngIf="pageSlice.length === 0"
      class="row w-100 justify-content-center m-5"
    >
      No data found
    </div>
    <!-- change the pagination later -->
    <div class="row w-100 justify-content-center">
      <mat-paginator
        [length]="this.allEvents.length"
        [pageSize]="6"
        [pageSizeOptions]="[6, 9, 18]"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
<!-- MODAL: DETAIL Event START -->
  <div
    class="modal fade detail_Event_modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{showEvent.libele | uppercase }}</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="main-body">
            <div class="row gutters-sm">
              <div class="col-md-4 mb-3 h-100">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                      <img *ngIf="showEvent.image!=null"
                      src="{{path+showEvent.image}}"
                        alt="Image Event"
                        class="rounded-circle"
                        width="150"
                      />
                      <img *ngIf="showEvent.image==null" src="http://localhost:8080/public/images/event.jpg" alt="Image Event"/>
                      <div class="mt-3">
                        <h4>{{showEvent.libele}}</h4>
                        <!-- <p class="text-secondary mb-1"> Président : {{showEvent.id_etudiant}}</p> -->
  <!--                      
                        <button class="btn btn-primary">Follow</button>
                        <button class="btn btn-outline-primary">Message</button> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Club</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" *ngIf="showEvent.club !=null ">{{showEvent.club.designation}}</div>
                    </div>
                    
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Description</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">{{showEvent.description}}</div>
                    </div>  
                    <hr> 
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Date d'ajout</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">{{showEvent.dateAjout | date: "mediumDate"}}</div>
                    </div>   
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Date fin</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">{{showEvent.dateFin | date: "mediumDate"}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Status</h6>
                        </div>
                        <div *ngIf="showEvent.status==false" class="col-sm-9 text-secondary">Inactive</div>
                        <div *ngIf="showEvent.status==true" class="col-sm-9 text-secondary">Active</div>
                    </div>                                                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- MODAL: DETAIL Event START -->



</section>

