<div class="container">
    <div class="main-body">

          <div class="row gutters-sm">
            <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{user.prenom}} {{user.nom}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{user.email}}
                      </div>
                    </div>
                    <hr>
                    <div *ngIf="user.isSuper">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Status</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">{{user.isSuper ? 'Super admin' : 'Normal admin'}}</div>
                      </div>
                      <hr />
                    </div>

                    <!-- 
                      Ajouter les lignes de tous les utilisateur: formateur, etudiant
                     -->
                      <div *ngIf="user.tel">

                        <div class="row">
                         <div class="col-sm-3">
                           <h6 class="mb-0">Mobile</h6>
                         </div>
                         <div class="col-sm-9 text-secondary">{{user.tel}}</div>
                       </div>              
                       <hr />
                      </div>

                      <div *ngIf="user.diplome">
                        <div  class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Diploma</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">{{user.diplome}}</div>
                        </div>              
                        <hr />
                      </div>
                 
                      <div *ngIf="user.specialite" >
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Diploma</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">{{user.specialite}</div>
                        </div>              
                        <hr/>
                      </div>
           
                      <div *ngIf="user.date_naissance">
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Dath of birth</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">{{user.date_naissance | date:'mediumDate'}}</div>
                        </div>              
                        <hr />
                      </div>
                   
                
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Date of joined</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">{{user.dateAjout  | date:'mediumDate'}}</div>
                </div>

                    <hr>
                    <div class="row">
                      <div class="col-sm-12">
                        <a class="btn btn-danger" target="__blank" href="#">Edit</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                      <div class="parent">
                        <img  [attr.src]="
                        user.sexe == 'm'
                          ? 'http://localhost:8080/public/images/male.jpg'
                          : 'http://localhost:8080/public/images/female.jpg'
                      " alt="Admin" class="rounded-circle image" width="150">
                       <a class="change text-danger"  (click)="file.click()"> 
                        <i type="file" class="fa fa-camera-retro w3-large" aria-hidden="true" width="120">
                       </i>
                       <input type="file" style="display:none" name="image" 
                       (change)="onUpload($event)" #file>
                    </a>
                    </div>
                    
                    <div class="change"></div>
                    <div class="mt-3">
                      <h4>{{user.prenom}} {{user.nom}}</h4>
                      <p class="text-secondary mb-1">{{user.email}}r</p>
                      <button class="btn btn-outline-primary">Edit Password</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>

        </div>
    </div>