<router-outlet></router-outlet>
<hr>
<!-- <div class="row">
  <div *ngFor="let formateur of formateurs" class="col-lg-4 h-100">
    <div class="user">
      <div class="pic">
        <img
          [attr.src]="
            formateur.sexe == 'm'
              ? 'http://localhost:8080/public/images/male.jpg'
              : 'http://localhost:8080/public/images/female.jpg'
          "
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="user-info">
        <h4>{{ formateur.nom }} {{ formateur.prenom }}</h4>
        <span>{{ formateur.email }}</span>
        <div class="social">
          <a href=""
            ><i>
              <mat-icon>remove_red_eye</mat-icon>
            </i></a
          >
          <a href=""
            ><i>
              <mat-icon>edit</mat-icon>
            </i></a
          >
          <a href=""
            ><i>
              <mat-icon>delete_outline</mat-icon>
            </i></a
          >
        </div>
      </div>
    </div>
  </div>
</div> -->
