
<div class="row justify-content-between">
    <div class="col-md-4">
     
    </div>
  
    <div class="col-md-4" *ngIf="access">
      <button class="main-btn main-btn scrollto"
        >Add new Formation</button>
    </div>
</div>
<!-- SHOW CONTENT START -->
<div class="row">

    <div *ngFor="let content of contents" class="col-lg-6 equal">
        <div class="user">
         
          <div class="user-info mr-5">
            <iframe width="300" height="200" [src]="photoURL(content)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h4>test</h4>
            <span>test</span>
          
          </div>
        </div>
      </div>

  
    <div
      *ngIf="contents.length === 0"
      class="row w-100 justify-content-center m-5"
    >
      No data found
    </div>
  
  </div>
<!-- SHOW CONTENT END -->