 <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">
      <div class="container">
        <div class="section-title">
          <h2>Event details</h2>
          <p>Here is the description of the event</p>
        </div>
        <div class="row">
          <div class="col mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>{{event.libele}}</h3>
                    <p class="font-italic">{{event.description}}</p>
                    <p class="font-italic">Start date: {{event.date_ajout}}</p>
                    <p class="font-italic">End date: {{event.date_fin}}</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{path+event.image}}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
<!--End Departments Section -->


  <!-- ======= Services Section ======= -->
    <section id="services" class="services" style="margin-bottom:40px;">
      <div class="container">

        <div class="section-title">
          <h2>Other upcoming events</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" *ngFor="let evenement of events" >
              <div class="icon-box" style="width:6000px;" >
                <div class="icon"><img src="{{path+evenement.image}}" alt="" class="img-fluid"></div>
                <h4><a href="">{{evenement.libele}}</a></h4>
                <p>{{evenement.description}}</p>
              </div>
            </div>
        </div>

      </div>
</section>
<!--End Services Section -->

   

