<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        Clubs
                    </a>
                </li>
                <li>
                    <a href="#">
                        Event
                    </a>
                </li>
                <li>
                    <a href="#">
                        Sign in
                    </a>
                </li>
                <li>
                    <a href="#">
                        Register
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}},
            <a href="#" target="_blank">E-Learnig</a> from ENSA FES.
        </div>
    </div>
</footer>
