<div class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Register</h4>
              <p class="card-category">Create new account</p>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Username" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Email address" type="email" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="CIN" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="CNE" type="text" />
                    </mat-form-field>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-label>Are you?</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let s of sexe" [value]="s.value">
                          {{ s.viewValue }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-label>Date of birthday</mat-label>
                      <input matInput [matDatepicker]="picker" />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-label>Select your major</mat-label>
                      <mat-select>
                       
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-label>The year</mat-label>
                      <mat-select>
                        
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Password" type="password" />
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="example-full-width">
                      <input
                        matInput
                        placeholder="Retype password"
                        type="password"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <button
                  mat-raised-button
                  type="submit"
                  class="btn btn-danger pull-right"
                >
                  Register
                </button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  